:link {
    font-size: 20px;
}
a[href^="http://"],
a[href^="https://"]
{
    color: #f70;
}
a[href$="google.com"] {
    color: \#666;
}
a[target^="_blank"]:after {
    content: '\2197';
    border-right: 1px solid;
    border-top: 1px solid;
    margin-left: 5px;
    font-size: 9px;
    display: inline-block;
    width: 9px;
    font-weight: bold;
}

