div input {
display: none;
}
div label {
    text-decoration: underline;
    margin-right: 20px;
}
label[for="red"] {
    color: red;
}
label[for="green"] {
    color: green;
}
label[for="blue"] {
    color: blue;
}
input#red:checked ~ label[for="red"] {
opacity: 0.4;
}
input#green:checked ~ label[for="green"] {
opacity: 0.4;
}
input#blue:checked ~ label[for="blue"] {
opacity: 0.4;
}
input#red:checked ~ span.red {
    background: red;
    border-radius: 5px;
    color: white;
}
input#green:checked ~ span.green {
    background: green;
    border-radius: 5px;
    color: white;
}
input#blue:checked ~ span.blue {
    background: blue;
    border-radius: 5px;
    color: white;
}
