:link {
    font-size: 20px;
}
a[href^="http://"],
a[href^="https://"]
{
    color: #f70;
}
a[href$="google.com"] {
    color: \#666;
}
a[target] {
    background: url("../img/arrow.png") no-repeat 100% 10px;
    padding-right: 13px;
}
