.navbar {
    background: rgba(48, 30, 19, 0.85);
}
.navbar-header {
    background-image: url(../img/sprite.png);
    width: 190px;
    height: 60px;
    overflow: hidden;
    background-size: 845px;
    background-position: -89px -10px;
    cursor: pointer;
}

.menu-item-1 {
    background-image: url(../img/sprite.png);
    width: 100px;
    height: 55px;
    overflow: hidden;
    background-size: 845px;
    background-position: -470px -3px;
}
.menu-item-2 {
    background-image: url(../img/sprite.png);
    width: 100px;
    height: 55px;
    overflow: hidden;
    background-size: 845px;
    background-position: -575px -3px;
}
.menu-item-3 {
    background-image: url(../img/sprite.png);
    width: 100px;
    height: 55px;
    overflow: hidden;
    background-size: 845px;
    background-position: -675px -3px;
}






.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    display: inline-block;
    -webkit-animation-name: menu-pulse;
    animation-name: menu-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    vertical-align: middle;
}

@-webkit-keyframes menu-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: perspective(1px) scale(1.1);
    }
    75% {
        -webkit-transform: scale(.9);
        transform: perspective(1px) scale(.9);
    }
}

@keyframes menu-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: perspective(1px) scale(1.1);
    }
    75% {
        -webkit-transform: scale(.9);
        transform: perspective(1px) scale(.9);
    }
}
