* {
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 10px;
    width: 100%;
    background-color:#9966FF;
    box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.38),
                0px 2px 5px 0px rgba(50, 50, 50, 0.50);
    position: relative;
    text-transform: uppercase;
}
.menu {
    width: 900px;
    margin: 0 auto;
}
.menu li {
    list-style-type: none;
    color: white;
    display: inline-block;
    margin: 10px -2px 10px -2px;
}
.menu a{
    text-decoration: none;
    padding: 11px 10px 12px 10px;
    color: white;
    font-family: impact;
    letter-spacing: 2px;
    border-radius: 10px;
}
.menu a:hover{
    background-color: #eeeeee;;
    color: #a1a1a1;
}
.menu li ul {
    position: absolute;
    top: 110%;
    left: 0px;
    right: 0px;
    width: 97%;
    color: red;
    background-color: aqua;
    padding-left: 3%;
    visibility: hidden;
    display: block;
}
.menu :hover ul {
    visibility: visible;
}
