@font-face {
    font-family: "MVBOLI";
    src: url("../fonts/MVBOLI.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "NEXARUSTSCRIPTL-0";
    src: url("../fonts/NEXARUSTSCRIPTL-0.otf");
    font-style: normal;
    font-weight: normal;
}
