@font-face {
    font-family: "MVBOLI";
    src: url("../fonts/MVBOLI.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NEXARUSTSCRIPTL-0";
    src: url("../fonts/NEXARUSTSCRIPTL-0.otf");
    font-style: normal;
    font-weight: normal;
}

.brown_line {
    background: rgba(48, 30, 19, 0.85);
    height: 130px;
    padding: 0;
    margin: 0;
}
