/*Login*/

.presentation {
    margin-top: 50px;
}

div .img-responsive {
    margin: 0 auto;
}

.benefits-text {
    min-height: 50px;
}

footer {
    color: #fff;
    background: #b2dfdb;
}

.copyright-box {
    padding-bottom: 10px;
}

footer h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.btn-outline {
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    height: 50px;
    width: 50px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
}

.form-button {
    margin-bottom: 60px;
}

.btn-outline:hover {
    color: #ffc107;
    border-color: #ffc107;
    background-color: #fff;
}

.box-social {
    margin-bottom: 20px;
}

.audioPlayer {
    visibility: hidden;
}


/*ANIMATIONS*/

@-webkit-keyframes link-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: perspective(1px) scale(1.1);
    }
    75% {
        -webkit-transform: scale(.9);
        transform: perspective(1px) scale(.9);
    }
}

@keyframes link-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: perspective(1px) scale(1.1);
    }
    75% {
        -webkit-transform: scale(.9);
        transform: perspective(1px) scale(.9);
    }
}

.nav-elem:hover {
    display: inline-block;
    -webkit-animation-name: link-pulse;
    animation-name: link-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/*Home*/

.accounts {
    margin-top: 100px;
    font-size: 20px;
}

.balance {
    font-size: 20px;
}

.balance_name {
    text-align: left;
}

.total_balance {
    text-align: right;
}

#mainDivId {
    margin-top: 55px;
}

#sign {
    width: 10px;
    text-align: center;
}

.transaction_block {
    margin-top: 60px;
}

.transaction-operations {
    font-size: 18px;
}

.categories_operations {
    font-size: 20px;
}

.accounts {
    min-height: 445px;

}

.history {
    font-size: 20px;
    min-height: 480px;

}
