/*Login*/
.presentation {
    margin-top: 50px;
}

div .img-responsive {
    margin: 0 auto;
}

.benefits-text {
    min-height: 50px;
}

footer {
    color: #fff;
    background: #b2dfdb;
}

.copyright-box {
    padding-bottom: 10px;
}

footer h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.btn-outline {
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    height: 50px;
    width: 50px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
}
.form-button {
    margin-bottom: 60px;
}

.btn-outline:hover {
    color: #ffc107;
    border-color: #ffc107;
    background-color: #fff;
}

.box-social {
    margin-bottom: 20px;
}

.audioPlayer {
    visibility: hidden;
}


/*ANIMATIONS*/

@-webkit-keyframes link-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: perspective(1px) scale(1.1);
    }
    75% {
        -webkit-transform: scale(.9);
        transform: perspective(1px) scale(.9);
    }
}

@keyframes link-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: perspective(1px) scale(1.1);
    }
    75% {
        -webkit-transform: scale(.9);
        transform: perspective(1px) scale(.9);
    }
}

.nav-elem:hover {
    display: inline-block;
    -webkit-animation-name: link-pulse;
    animation-name: link-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/*accounts*/

.accounts {
    margin-top: 50px;
}

.balance {
    font-size: 18px;
}

.balance_name {
    text-align: left;
}

.total_balance {
    text-align: right;
}

#mainDivId {
    margin-top: 55px;

}
html {
	/*18px*/
	font-size: 1.40625vmax;
	height: 100%;
	/*min-height: 100%;*/
}

h1 {
	/*28px*/
	font-size: 1.555555rem;
	display: inline;
}

.hoverBg {
	background-color: #85b7bc;
}
.addAccountDiv, .addCategoryDiv {
    visibility: hidden;
}

.addTransactionDiv {
    display: inline-block;
    float: left;
    margin-left: 20px;
    padding: 15px;

}


#transactionInputDiv {
    display: none;
    padding: 10px 0px;
}

#dateInput {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.typeButton {

	padding: 5px 10px;
	background-color: #85b7bc;
}


.transactionInput {
	font-size: 16px;
    padding: 2px 10px;
}

.typeButton:focus, .transactionInput:focus {
	outline: none;
}

.typeButton:hover {
	background-color: #efeae6;
}

#transactionInputDiv textarea {
	border-radius: 14px 14px 14px 14px;
}

#transactionInputDiv select {

}

.addTransactionButton {
	font-size: 1rem;

}

.addTransactionButton:hover {
	background-color: #efeae6;
}

.addTransactionButton:focus {
	outline: none;
}

#transactionInputDiv input[type=text] {
	border: 1px solid black;
}

#sign {
	width: 10px;
	text-align: center;
}

#allTransactions {
	display: inline-block;
	padding-left: 20px;
	padding-top: 15px;
}

#allTransactions table {
	border-collapse: collapse;
	border-spacing: 0;
}


.transactionRow {
	display: inline-block;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #efeae6;
}

.transactionRow:hover {
	background-color: rgba(197, 151, 117, 0.2);
}

.transaction_block {
    margin: 60px;
    min-height: 550px;

}

.transaction_block {
    margin-top: 100px;

}
 .transaction-operations {
    min-width: 300px;
    text-align: left;
}
.transaction_name {
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
.transaction_name {
    margin-left: -70px;

}


}
