body {
    font-family: impact;
}
div {
    border: solid 5px;
    width: 100%;
    background-color: mediumpurple;
    text-align: center;
    }
.container1_menu1 li {
    float: left;
    margin-left: 10px;
    list-style-type: none;
}
.container1_menu2 {
    width: 900px;
}
.container1_menu2 li {
   list-style-type: none;
    text-align: right;
}
