.page {
    width: 100%;
    font: 13px 'Helvetica', 'Arial', sans-serif;
    position: relative;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}
.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 5px;
    height: 100%;
}
.cb {
    clear: both;
    }
h3 {
    color: #3498db;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
}
h5 {
    color: #333333;
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0 auto;
}

.header-top {
    background-color: #3498db;
    color: #fff;
}
.header-middle {
    background: url(../img/fon1.png) no-repeat 50% 25%;
    background-size: cover;
    color: #fff;
}
.bottom-block {
    background-color: #f2f2f2;
    position: relative;
}
.bottom-block--button {
    background-color: #e74c3c;
    display: block;
    color: #fff;
    text-decoration: none;

}
.bottom-block--img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer {
    background-color: #3498db;
    color: #fff;
}
/* ANIMATIONS */

.social__link{
    -moz-transition: all 0.8s 0.1s ease-in;
    -o-transition: all 0.8s 0.1s ease-in;
    -webkit-transition: all 0.8s 0.1s ease-in;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.header-form--item {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.header-form--item:hover,
    .header-form--item:focus,
    .header-form--item:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    animation-timing-function: linear;
    animation-duration: 1s;
}

.header-form--submit {
    -moz-transition: all 0.5s 0.1s ease;
    -o-transition: all 0.5s 0.1s ease;
    -webkit-transition: all 0.5s 0.1s ease;
}
.header-form--submit:hover,
    .header-form--submit:focus,
    .header-form--submit:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    background-color: #3498db;
}

.bottom-block--button {
    -moz-transition: all 0.5s 0.1s ease;
    -o-transition: all 0.5s 0.1s ease;
    -webkit-transition: all 0.5s 0.1s ease;
}

.bottom-block--button:hover,
    .bottom-block--button:focus,
    .bottom-block--button:active {
    background-color: #3498db;
    transform: scale(1.1);
    }

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
