 @font-face {
     font-family: PressStart2P;
     src: url(../fonts/PressStart2P.ttf);
 }

 * {
     font-family: PressStart2P, sans-serif;
 }

 .hide {
     visibility: hidden;
 }

 .undisplay {
     display: none;
 }

 body {
     background-color: #000;
 }

 header {
     height: 105px;
     background-color: #000000
 }

 .game_screen {
     height: 500px;
     max-width: 900px;
     overflow: hidden;
     margin: 0 auto;
     background-image: url(../img/bg.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 button {
     height: 80px;
     width: 180px;
     font-size: 24px;
 }

 .intro {
     text-align: center;
     position: relative;
 }

 .button_start {
     padding-top: 150px;
 }

 .button_restart {
     text-align: center;
 }

 .button_next_level {
     text-align: center;
     position: relative;
     top: -300px;
 }

 .button_credits {}

 .playing_game {
     position: relative;
 }

 .message {
     font-size: 30px;
     background-color: #fff;
     min-width: 100px;
     max-width: 170px;
     text-align: center;
     margin: 0 auto;
     position: relative;
     top: -200px;
 }

 .reward {
     color: #fff;
     display: inline-block;
     font-size: 25px;
     text-transform: uppercase;
 }

 .player_timer {
     font-size: 30px;
     min-width: 200px;
     color: #fff;
     float: right;
 }

 .gunman_timer {
     min-width: 200px;
     font-size: 30px;
     color: #fff;
     float: right;
     clear: both;
 }

 .timer {
     min-width: 50px;
 }

 .max_time {
     min-width: 50px;
 }

 .gunman {
     position: absolute;
     top: -120px;
     left: 900px;
     width: 120px;
     height: 250px;
     z-index: 999;
     background-image: url(../img/gunman.png);
     overflow: hidden;
     background-size: 1800px;
 }

 .gunman_defaul_position {
     position: absolute;
     top: -120px;
     left: 900px;
 }
 /*Gunman moves*/
 /**/
 /**/
 /*Gunman 1*/
 /**/

 .gunman_1_walk {
     left: 50%;
     transition: 5s linear;
     animation: gunman_1_walk .8s steps(3) infinite;
 }

 .gunman_1_standing {
     background-position: -380px 0;
     width: 135px;
     left: 50%;
 }

 .gunman_1_falling {
     animation: gunman_1_falling .25s steps(1);
     background-position: -1555px 0;
     left: 50%;
 }

 @keyframes gunman_1_walk {
     from {
         background-position: 0 0;
     }
     to {
         background-position: -390px 0;
     }
 }

 @keyframes gunman_1_falling {
     from {
         background-position: -1295px 0;
     }
     to {
         background-position: -1450px 0;
     }
 }
 /**/
 /*Gunman 2*/
 /**/

 .gunman_2_walk {
     height: 300px;
     left: 50%;
     transition: 5s linear;
     animation: gunman_2_walk .8s steps(3) infinite;
 }

 .gunman_2_standing {
     background-position: -255px 280px;
     height: 280px;
     width: 135px;
     left: 50%;
 }

 .gunman_2_falling {
     animation: gunman_2_falling 1.25s steps(3);
     background-position: -1120px 280px;
     left: 50%;
     height: 280px;
 }

 @keyframes gunman_2_walk {
     from {
         height: 280px;
         background-position: 0 280px;
     }
     to {
         height: 280px;
         background-position: -390px 280px;
     }
 }

 @keyframes gunman_2_falling {
     from {
         background-position: -743px 280px;
     }
     to {
         background-position: -1123px 280px;
     }
 }
 /**/
 /*Gunman 3*/
 /**/

 .gunman_3_walk {
     left: 50%;
     transition: 5s linear;
     animation: gunman_3_walk .8s steps(3) infinite;
 }

 .gunman_3_standing {
     background-position: -380px 528px;
     width: 135px;
     left: 50%;
 }

 .gunman_3_falling {
     animation: gunman_3_falling 1.25s steps(3);
     background-position: -1030px 528px;
     left: 50%;
 }

 @keyframes gunman_3_walk {
     from {
         background-position: 0px 528px;
     }
     to {
         background-position: -390px 528px;
     }
 }

 @keyframes gunman_3_falling {
     from {
         background-position: -765px 528px;
         width: 125px;
     }
     to {
         background-position: -1155px 528px;
         width: 100px;
     }
 }
 /**/
 /*Gunman 4*/
 /**/

 .gunman_4_walk {
     height: 300px;
     left: 50%;
     transition: 5s linear;
     animation: gunman_4_walk .8s steps(3) infinite;
 }

 .gunman_4_standing {
     background-position: -430px 848px;
     width: 135px;
     left: 50%;
     height: 300px;
 }

 .gunman_4_falling {
     animation: gunman_4_falling 1.25s steps(2);
     background-position: -790px 848px;
     left: 50%;
 }

 @keyframes gunman_4_walk {
     from {
         height: 300px;
         background-position: 20px 848px;
     }
     to {
         height: 300px;
         background-position: -315px 848px;
     }
 }

 @keyframes gunman_4_falling {
     from {
         background-position: -665px 848px;
     }
     to {
         background-position: -900px 848px;
     }
 }
 /**/
 /*Gunman 5*/
 /**/

 .gunman_5_walk {
     left: 50%;
     transition: 5s linear;
     animation: gunman_5_walk .8s steps(3) infinite;
 }

 .gunman_5_standing {
     background-position: -380px 1150px;
     height: 300px;
     width: 135px;
     left: 50%;
 }

 .gunman_5_falling {
     animation: gunman_5_falling 1.25s steps(2);
     background-position: -1120px 1150px;
     left: 50%;
 }

 @keyframes gunman_5_walk {
     from {
         background-position: 0px 1150px;
         height: 300px;
     }
     to {
         height: 300px;
         background-position: -395px 1150px;
     }
 }

 @keyframes gunman_5_falling {
     from {
         background-position: -795px 1150px;
         height: 300px;
         width: 125px;
     }
     to {
         background-position: -1025px 1150px;
         height: 300px;
         width: 100px;
     }
 }

 footer {
     height: 105px;
     background-color: #000000
 }
