/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* --END OF CSS-RESET--*/

body {
    width: 1400px;
    height: 3309px;
    background-color: #fff;
    font-family: "trebuchet ms" sans-serif;
    position: relative;
    text-align: center;
}
header {
    background-color: #fff;
    font-size: 20px;
    width: 1025px;
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
}
header p {
    float: left;
    color: #3070a8;
    font: 300 36px / 30px FuturaBT serif;
    text-transform: uppercase;
    padding-top: 18px;
}
.orange {
    color: #ee8129;
    text-transform: capitalize
}
.bold {
    font-weight: 900;
}
.site {
    color: #1d1b1b;
}
nav li {
    float: right;
    position: relative;
    top: 40px;
    font-size: 14px;
}
nav a {
    text-decoration: none;
    color: #989898;
    text-transform: uppercase;
    padding: 14px 15px;
}
nav a:hover {
    color: #3070a8;
    border-bottom: 2px solid #3070a8;
}
/*BLOCK with computer*/
.banner {
    background: url(../img/fon-banner.png);
    width: 1400px;
    height: 585px;
    color: #fff;
    font-size: 36px;
}
strong {
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
}
.ital {
    font: italic 20px/30px Calibri sans-serif;
}
.banner div {
    position: relative;
    top: 175px;
}
.banner input {
    position: relative;
    top: 40px;
    background-color: transparent;
    padding: 15px 50px;
    border: 1px solid #fff;
    border-style: dotted;
    color: #fff;
    text-transform: uppercase;
}
.banner input:active {
    background-color: #13426B;
    opacity: 0.5;
}
.banner input:hover {
    border: 3px solid #fff;
    border-style: dotted;
    border-radius: 10px;
}

/*BLOCK with advaces*/
.advances h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: gray;
    margin: 50px 0;
}
.advances div {
    display: inline-block;
    margin: 20px 50px 50px;
    width: 25%;
}
.advances p {
    color: gray;
}
/*BLOCK with layers*/
.layers {
    margin-top: 20px;
    width: 1400px;
    height: 577px;
    background: url(../img/fon_layer.png) center ;
}
.layer-comments {
    position: relative;
    width: 680px;
    padding-left: 150px;
    text-align: left;
}
.layer-comments h3 {
    font:300 26px / 48px FuturaBT serif;
    text-transform:uppercase;
}
.layer-comments p {
    color: #ffffff;
    font: italic 19px / 30px OpenSans;
    padding: 10px 0 30px;
}
.layer-comments ul {
    color: #9d9d9d;
    font: 400 14px / 30px OpenSans;
    width: 500px;
    margin-left: 50px;
}
.layer-comments li {
    list-style: disc inside;
    padding-bottom: 30px;
}
.layer-comments ul :nth-child(2) {
    color: #3070a8;
}
/*BLOCK with prices*/
.prices {
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}
.prices div {
    font-family: "Trebuchet MS" serif;
    position: relative;
}
.prices p {
    font: 25px/70px bold "Trebuchet MS" serif;
}
.prices sup {
    position: relative;
    top: -40px;
    right: -10px;
    font-size: 24px;
}
.prices sub {
    text-transform: capitalize;
    position: relative;
    bottom: -4px;
    font-size: 20px;
}
.prices span {
    font-size: 70px;
    font-weight: bold;
}
.prices ul {
    list-style-type: none;
    text-align: left;
    margin: 25px 10px 20px 10px;
    text-indent: 30px;
}
.prices ul :nth-of-type(2n) {
    background-color: #f5f5f5;
}
.prices li {
    font-size: 18px;
    line-height: 30px;
    color: #828282;
    padding-bottom: 1px;
    background-color: #edf5fc;
    border-bottom: 1px solid #ffffff;
    text-transform: capitalize;
}
.prices li::before{
    content: "";
    padding-left: 30px;
    background-image: url(../img/list.png);
    background-repeat: no-repeat;
    background-position: center;
}
.prices input {
    background-color: #2F70A8;
    width: 252px;
    height: 38px;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 3px 0px #13426B;
    margin-bottom: 10px;
}
.prices input:active {
    background-color: #13426B;
}
.prices div:first-child {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.prices-box1 {
    border: 1px solid;
    border-color: gray transparent gray gray;
    border-radius: 5px;
    width: 290px;
    display: inline-block;
    right: -7px;
}
.prices-box1_head {
    background-color: #37c2d3;
    line-height: 60px;
}
.prices-box2 {
    border: 4px solid #ed7f2b;
    border-radius: 5px;
    width: 288px;
    display: inline-block;
    box-shadow: 0px 0px 10px 1px #000000;
    z-index: 10;
}
.prices-box2_head {
    background-color: #ed7f2b;
    line-height: 70px;
}
.prices-box2 input {
    background-color: #ed7f2b;
    margin-bottom: 20px;
    box-shadow: 0px 3px 0px #B3560C;
}
.prices-box2 input:active {
    background-color: #B3560C;
}
.prices-box3 {
    border: 1px solid;
    border-color: gray gray gray transparent;
    border-radius: 5px;
    width: 287px;
    display: inline-block;
    left: -7px;
}
.prices-box3_head {
    background-color: #1cb79a;
    line-height: 60px;
}
/*BLOCK with comment*/
h3 {
    font-size: 40px;
    color: #3170a8;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: 200;
}
.feedback {
    width: 1400px;
    height: 315px;
    margin-top: 70px;
    text-align: center;
    background: url("../img/fon2.png");
    position: relative;
    font-family: "Trebuchet MS", sans-serif;
}
.feedback div {
    display: inline-block;
    position: relative;
    margin: 30px 0px 50px 30px;
}
.comment {
    display: inline-block;
    background-color: #fff;
    width: 370px;
    height: 98px;
    line-height: 18px;
    text-align: left;
    color: gray;
    font-size: 15px;
    top: -15px
}
.comment p {
    margin: 10px 10px 10px 10px;
}
.comment p:first-child {
    color: #3070a8;
    margin: 3% 3% 6% 3%;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px dotted;
}
.comment:after {
    content: '';
    position: absolute;
    left: -39px; bottom: 28px;
    border: 20px solid transparent;	border-right: 20px solid #fff;
}
.right {
    float: right;
    margin-right: 3%;
}

/*BLOCK with contacts*/
.contacts {
    width: 704px;
    height: 435px;
    color: #666666;
    font: 600 14px;
    line-height: 30px;
}
.contacts-info {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 275px;
    padding: 8%;
    }
.contacts-info div {
    display: inline-block;
    padding: 5px;
}
.contacts-info_aboutus-icon {
    position: relative;
    top: -75px;
}
.contacts-info_phone div:first-child {
    width: 23px;
}
.contacts-info_links img{
    width: 60px;
    margin: 20px 10px;
}
/*BLOCK footer*/
footer {
    width: 100%;
    height: 94px;
    background-color: #3070a8;
    color: #ffffff;
    font: 14px;
    line-height: 30px;
    padding-top: 30px
}
