.page {
    width: 100%;
    font: 13px 'Helvetica', 'Arial', sans-serif;
    position: relative;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}
.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 5px;
    height: 100%;
}
.cb {
    clear: both;
    }
h3 {
    color: #3498db;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
}
h5 {
    color: #333333;
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    width: 181px;
    margin: 0 auto;
}

.header-top {
    background-color: #3498db;
    color: #fff;
}
.header-middle {
    background: url(../img/fon1.png) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
}
.bottom-block {
    background-color: #f2f2f2;
    position: relative;
}
.bottom-block--button {
    background-color: #e74c3c;
    display: block;
    color: #fff;
    text-decoration: none;

}
.bottom-block--img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer {
    background-color: #3498db;
    color: #fff;
}
/* ANIMATIONS */
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
