.container {
    width: 100%;
    margin: 0 5px;
    position: relative;
    text-align: center;
}
.header-top {
    background-color: #3498db;
    color: #ffffff;
    height: 161px;
}
.logo {
    display: block;
}
.header-top--heading {
    border-bottom: 2px solid #666;
    width: 150px;
    margin: 0 auto;
    font: 400 20px/42px 'Helvetica', 'Arial', sans-serif;
}
.header-top--social {
    margin: 20px;
}
.header-top--social__connect {
    display: inline-block;
    position: relative;
    top: -5px;
    text-transform: capitalize;
}
.header-middle {
    background: url(../img/fon1.png) no-repeat;
    background-size: 100% 100%;
    height: 351px;
    color: #fff;
}
.header-middle--heading {
    font: 700 40px/42px 'Helvetica' 'Arial'  sans-serif;
    padding: 20px;
    text-transform: uppercase;
}
.header-middle--text {
    font: 400 16px/28px 'Helvetica' sans-serif;
    width: 240px;
    margin: 0 auto;

}
.header-form {
    font-size: 50px;
    font-weight: bold;
    width: 300px;
    height: 541px;
    position: absolute;
    top: 350px;
    left: 50%;
    margin: 0 -150px;
    background-color: #fff;
    border-bottom: 5px solid blue;
    z-index: 1;
}
.header-form--heading {
    color: #333333;
    font: 400 20px / 20px Helvetica;
    text-transform: uppercase;
}
.header-bottom {
    padding: 275px 30px 0 30px;;
    background-color:#f2f2f2;
    height: 682px;
}
.benefits-item__link {
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #666;
    color: #666;
    padding: 10px 3px;
    line-height: 75px;
}
.footer {
    background-color: #3498db;
}
