.page {
    background: #fefefe;
    margin: 0;
    padding: 0;
    font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
    color: #272727;
}
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 20px auto;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
}
.bl {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 20px;
    flex: 1 1 300px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}
.bl--image {
    margin: 10px;
    flex: 1 1 200px;
}
.bl--image__picture {
    width: 100px;
    height: auto;
}
.bl--heading {
    color: #406cd0;
    margin: 0 10px 0 0;
    font-size: 1.1em;
}
.bl--text {
    margin: 10px;
    flex: 1 1 250px;
}
.bl--button {
    background: #406cd0;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    transform: 0.3s;
}
.bl--button:hover {
    background: #c70000;
}
.fl1 {}
.fl2 {}
.fl3 {}
