* {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 40px;
    color: #3170a8;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: 200;
}
.orange {
    color: #ee8129;
}
.feedback {
    width: 1400px;
    height: 315px;
    top: 30px;
    margin: 0 auto;
    text-align: center;
    background: url("../img/fon2.png");
    position: relative;
    font-family: "Trebuchet MS", sans-serif;
}
.feedback div {
    display: inline-block;
    position: relative;
    margin: 30px 0px 50px 30px;
}
.comment {
    display: inline-block;
    background-color: #fff;
    width: 370px;
    height: 98px;
    line-height: 18px;
    text-align: left;
    color: gray;
    font-size: 15px;
    top: -15px
}
.comment p {
    margin: 10px 10px 10px 10px;
}
.comment p:first-child {
    color: #3070a8;
    margin: 3% 3% 6% 3%;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px dotted;
}
.comment:after {
    content: '';
    position: absolute;
    left: -40px; bottom: 28px;
    border: 20px solid transparent;	border-right: 20px solid #fff;
}
.right {
    float: right;
    margin-right:  3%;
}
