.header-top {
    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
h1 {
    display: inline-flex;
}
.logo--img {
    vertical-align: middle;
}
.social {
    display: inline-flex;
    margin: auto 0;
}
.header-middle {
    display: flex;
    flex-flow: column wrap;
    align-content:flex-start;
    background: url(../img/fon1.png) no-repeat;
    background-size:100% 100%;
    min-height: 250px;
}
.header-bottom {
    display: flex;
    flex-flow: column wrap;
    background-color: antiquewhite;
}
.advances {
    display: flex;
    flex-flow: column wrap;
}
.advances-blocks {
    display: flex;
    flex-flow: row wrap;
}
