.header-top {
    background-color: #3498db;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 20px;
}
h1 {
    display: inline-flex;
    text-transform: uppercase;
}
.logo--img {
    vertical-align: middle;
}
.social {
    display: inline-flex;
    align-self: center;
}
.header-middle {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: url(../img/fon1.png) no-repeat;
    background-size:100% 100%;
    color: #fff;
    min-height: 250px;
    padding: 0 20px;
}
.header-middle--heading {
    text-transform: uppercase;
    width: 250px;
}
.header-middle--text {
    width: 350px;
}
.header-bottom {
    display: flex;
    flex-flow: column wrap;
    background-color: #f2f2f2;
    padding: 0 20px;
}
.advances {
    display: flex;
    flex-flow: column nowrap;
}
.advances--heading {
    text-transform: uppercase;
    color: #3498db;
    font-size: 32px;
    margin: 20px;
}
.advances-blocks {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    flex-flow: row wrap;
}
.advances-block {
    margin: 20px;
    border: 1px solid #666;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 250px;
    text-align: center;
}
/*MEDIA QUERY for blocks better moves */
@media only screen and (min-width: 500px) and (max-width:1000px){ .advances-block {flex: 1 1 550px;} }
/* END of MEDIA QUERI */

.advances-block--img {
    margin: 10px;
    flex: 1 1 300px;
}
.advances-block--img__pic {
    width: 250px;
    height: auto;
}
.advances-block--text {
    margin: 10px;
    flex: 1 1 200px;
}
.advances-block--text__heading {
    color: #406cd0;
    margin: 0 10px 0 0;
    font-size: 14px;
}
.advances-block--text__text {

}
.advances-block--text__link {

}
.advances-block--text__link:hover {

}
